.color-field,
.color-field-disabled {
  height: 140px;
  width: 140px;
  margin: 10px;
  border: 1px dashed var(--border-color);
  border-radius: 20px;
}

.color-field:hover {
  cursor: pointer;
  border: 1px solid var(--border-highlight-color);
}

.color-field-disabled {
  cursor: not-allowed;
}

.color-field-disabled .mask {
  text-align: center;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  font-size: 100px;
}

.color-field-disabled .success {
  color: var(--success-color);
}

.color-field-disabled .failure {
  color: var(--failure-color);
}
