:root {
  --header-color: #fbc531;
  --background-color: #f5f6fa;
  --foreground-color: #273c75;
  --button-color: #487eb0;
  --popup-color: #dcdde1;
  --popup-highlight-color: #487eb0;
  --border-color: #e1b12c;
  --border-highlight-color: #fbc531;
  --font-dark-color: #353b48;
  --font-light-color: #f5f6fa;
  --success-color: #44bd32;
  --failure-color: #c23616;
}
